node_modules
**/node_modules

dist
**/dist
build
coverage
**/coverage

.git
.github
.expo
**/.expo
.turbo
**/*.tsbuildinfo

apps/mobile/playwright-report
apps/mobile/test-results
supabase/.temp
scripts/output

*.log
*.env
*.env.*
